@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0d11; 
  color: #e2e8f0;
  
  /* 滑らかさの設定 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* スクロールバー設定 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0d11; 
}
::-webkit-scrollbar-thumb {
  background: #1f2937; 
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151; 
}